@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 100%;
  background: #e2d4d4; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-player {
  background: #ee91eb86; 
  color: #000000;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(92, 89, 89, 0.1);
  max-width: 400px;
  text-align: center;
  border: 0px solid #000000; 
}

.card-player img {
  width: 100%;
}

.desc-musica {
  text-align: center;
  margin: 40px 0px 15px 0px;
}

.desc-musica span {
  color: #09507c; 
}

.conteudo-musica p {
  font-size: 2rem;
  margin: 20px 0;
}

.conteudo-musica span {
  font-size: 2rem;
}

.controles {
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.controles button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.controles button img {
  width: 50px;
  height: 50px;
}

#play img, #pause img {
  width: 50px;
  height: 50px;
}

.container-progresso input {
  width: 100%;
  margin: 30px 0;
}

.tempo-musica {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}